._*
.DS_Store
/src_corewar/corewar
/src_asm/asm
/asm
/corewar
*.o
*.a
*.swp
test_ind.c
*.out
notes
test_params.c
TEST*
notes
testing_suite
diff.log
Failure.log
corewar.log
resources/corewar/champs/cor_examples/
*.cor
sti_dirs.s
sti_dirs.cor
sti_inds.s
tags
